@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .centralize-content {
        @apply flex justify-center items-center
    }
    .content-with-3 {
        @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 py-10
    }
    .card-style {
        @apply flex justify-start items-center flex-col shadow py-10 px-5 col-span-1 text-center gap-5 rounded-xl
    }
}

:root {
    --main-color: #fccd05;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.mobile-navbar li {
    padding-bottom: 20px;
}
.mobile-navbar li:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.203);
}


@media (width < 600px) {
    .container {
    padding-left: 15px;
    padding-right: 15px;
}

}